.description-box {
  display: flex;
  flex-direction: column;
  background-color: var(--background-dark);
  padding: 1rem 1rem;
  border-radius: 10px;
  max-height: 25rem;
  overflow-y: auto;
  p {
    line-height: 1.5rem;
    margin: 0.3rem 0;
  }

  a {
    color: var(--color-text-green);
    font-weight: bold;
  }
}
