.description-box {
  display: flex;
  flex-direction: column;
  background-color: #3e415a;
  padding: 1rem 1rem;
  border-radius: 10px;
  max-height: 25rem;
  overflow-y: auto;
  width: 90%;
  box-sizing: border-box;
  align-self: center;

  p {
    line-height: 1.5rem;
    margin: 0.3rem 0;
  }

  a {
    color: var(--color-text-green);
    font-weight: bold;
  }

  @media (max-width: 1023px) {
    width: 100%;
  }
}
