.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  background: var(--color-black);

  .underfill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-nav);
  }
  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 5rem;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-basis: 50%;
      max-width: 1024px;
      margin: 0 auto;
      height: 5rem;
      z-index: 10;

      @media (max-width: 1023px) {
        flex-basis: 100%;
      }
      .btn-box {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .hamburger {
          padding: 0 0.5rem;
        }
      }
      .logo {
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 1px;
        color: var(--color-white);
        margin-left: 2rem;
        cursor: pointer;
        background: linear-gradient(
          90deg,
          rgba(255, 157, 67, 0.82) -10.27%,
          rgba(232, 125, 26, 0.63) 15.57%,
          rgba(223, 113, 12, 0.87) 44.56%,
          #e38b3a 68.41%,
          #f39742 95.98%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
      }
    }
    .desktop-nav {
      flex-basis: 50%;

      .links-list {
        display: flex;
        align-items: center;
        flex-basis: 70%;
        gap: 0 1.5rem;
      }
    }

    .mobile-nav {
      position: absolute;
      top: -350%;
      left: 0;
      width: 100%;
      transition: 0.3s;
      background: var(--background-main);
      z-index: 3;

      &.active {
        top: 100%;
        left: 0;
      }

      .mobile-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          padding: 1rem 0;
        }
        li a {
          font-size: 1.1rem;
          font-weight: 500;

          &:hover {
            color: var(--color-gray);
          }
        }
        .active {
          color: var(--color-special);
        }
      }
    }
  }
}
.input-box {
  position: relative;

  .search-input {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    background-color: transparent;
    padding: 0.5rem 1.8rem;
    border: 1px solid rgb(255, 255, 255, 0.4);
    border-radius: 5px;
    font-size: 0.9rem;
    color: #fff;
    outline: none;

    @media (max-width: 43.75rem) {
      display: none;
    }
  }

  .search {
    fill: rgb(255, 255, 255, 0.4);
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
    &:hover {
      fill: rgb(255, 255, 255, 0.8);
    }

    @media (max-width: 43.75rem) {
      position: static;
      transform: none;
    }
  }
  .shortcut-box {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: rgb(255, 255, 255, 0.4);
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    @media (max-width: 43.75rem) {
      display: none;
    }
  }
  .command {
    fill: rgb(255, 255, 255, 0.4);
    @media (max-width: 43.75rem) {
      display: none;
    }
    &:hover {
      fill: rgb(255, 255, 255, 0.8);
    }
  }
}
