.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: var(--background-strong-gray);

  .wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    background-color: var(--background-strong-gray);
    height: 5rem;

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-basis: 50%;
      max-width: 1024px;
      margin: 0 auto;
      height: 5rem;
      background-color: var(--background-strong-gray);
      z-index: 10;

      @media (max-width: 1023px) {
        flex-basis: 100%;
      }
      .btn-box {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        .hamburger {
          padding: 0 0.5rem;
        }
      }
      .logo {
        font-size: 1.6rem;
        font-weight: bold;
        letter-spacing: 1px;
        color: var(--color-white);
        margin-left: 2rem;
        cursor: pointer;
        background-image: url("https://media.giphy.com/media/fwo7bzEVxbYS4eSNVd/giphy.gif");
        background-position: center bottom;
        background-size: cover;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
    .desktop-nav {
      flex-basis: 50%;

      .links-list {
        display: flex;
        align-items: center;
        flex-basis: 70%;
        gap: 0 1.5rem;
      }

      .search-btn {
        display: flex;
        align-items: center;
      }
    }

    .mobile-nav {
      position: absolute;
      top: -350%;
      left: 0;
      width: 100%;
      transition: 0.3s;
      background-color: var(--background-strong-gray);
      z-index: 3;

      &.active {
        top: 100%;
        left: 0;
      }

      .mobile-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          padding: 1rem 0;
        }
        li a {
          font-size: 1.1rem;
          font-weight: 500;

          &:hover {
            color: var(--color-gray);
          }
        }
        .active {
          color: var(--color-purple);
        }
      }
    }
  }
}
