.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
  box-sizing: border-box;
  padding: 0.5rem 0;
  width: 100%;

  .main-title {
    display: flex;
    align-items: center;
    gap: 0 0.7rem;

    .name {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .price-data {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (max-width: 767px) {
      text-align: center;
    }

    .head {
      font-size: 0.9rem;
    }
    .values-box {
      display: flex;
      align-items: center;
      font-size: 1.3rem;

      .price {
        font-weight: bold;
      }
    }
  }

  .rank {
    font-size: 1.2rem;
    font-weight: bold;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 1.5rem;
  }
  @media (max-width: 31.25rem) {
    align-items: center;
  }
}
