.stats-box {
  display: flex;
  flex-direction: column;
  background-color: var(--background-strong-blue);
  padding: 1rem 1rem;
  border-radius: 10px;

  .wrapper {
    display: flex;
    align-items: center;
    padding: 10px 0;

    @media (max-width: 450px) {
      flex-direction: column;
      gap: 0.5rem;
    }

    div {
      p {
        font-size: 0.9rem;
        font-weight: bold;
        padding-left: 0.5rem;
      }
    }
  }
  .date-box {
    display: flex;
    align-items: center;
    padding: 10px 0;

    @media (max-width: 1023px) {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  @media (max-width: 1023px) {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}
