.stats-box {
  display: flex;
  background-color: var(--background-dark-gray);
  padding: 1rem 1rem;
  border-radius: 6px;
  box-sizing: border-box;
  border: 2px solid var(--color-special);
  justify-content: space-between;
  gap: 1.5rem;
  .box {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    @media (max-width: 450px) {
      flex-direction: column;
      gap: 0.5rem;
    }

    div {
      p {
        font-size: 0.9rem;
        font-weight: bold;
        padding-left: 0.5rem;
        color: rgb(255, 255, 255, 0.51);
      }
      span {
        color: #fff;
      }
    }
  }
  .date-box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 0.5rem;
    }
    @media (max-width: 450px) {
      align-items: center;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }
  @media (max-width: 1023px) {
    align-items: center;
  }
}
