.stats-box {
  display: flex;
  flex-direction: column;
  background-color: var(--background-details-box);
  padding: 1rem 1rem;
  border-radius: 10px;
  flex-basis: 45%;
  box-sizing: border-box;
  border: 2px solid var(--color-white);

  .wrapper {
    display: flex;
    align-items: center;
    padding: 10px 0;

    @media (max-width: 450px) {
      flex-direction: column;
      gap: 0.5rem;
    }

    div {
      p {
        font-size: 0.9rem;
        font-weight: bold;
        padding-left: 0.5rem;
      }
    }
  }
  .date-box {
    display: flex;
    padding: 10px 0;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 0.5rem;
    }
    @media (max-width: 450px) {
      align-items: center;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
  }
  @media (max-width: 1023px) {
    align-items: center;
  }
}
