.search-bar {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;

  .input-container {
    color: var(--color-white);
    width: 100%;

    .result-box {
      box-sizing: border-box;
      width: 100%;
      max-height: 13.875rem;
      overflow-y: auto;
      border-radius: 7.5px;
      padding: 0.2rem;
      z-index: 12;

      .list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .result-info {
          font-size: 0.9rem;
          font-weight: bold;
          text-align: center;
        }
      }
    }
  }
  @media (max-width: 300px) {
    margin: 3rem auto;
  }
}
