.curr-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;

  .curr-list {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    .coin-wrapper {
      display: flex;
      font-weight: bold;
      gap: 0.4rem;
      align-items: center;

      .alias,
      .rank {
        color: #858ca2;
      }
    }
  }
  .percentage {
    color: #fff;
    margin-left: 1rem;
  }
  .percentage.incr {
    color: #8dc647;
  }
  .percentage.decr {
    color: #e15241;
  }
}
