.curr-box {
  display: flex;
  justify-content: space-between;
  margin: 0.8rem 0;

  .curr-list {
    display: flex;
    gap: 0.8rem;

    .coin-wrapper {
      display: flex;
      font-weight: bold;
      gap: 0.2rem;

      .alias,
      .rank {
        color: #858ca2;
      }
    }
  }
  .percentage {
    color: #fff;
  }
  .percentage.incr {
    color: #008000;
  }
  .percentage.decr {
    color: #ea3943;
  }
}
