.modal {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 768px;
  color: var(--color-white);
  background-color: var(--background-modal-transparent);
  backdrop-filter: blur(40px) saturate(1.5);
  padding: 1.5rem 1rem;
  border-radius: 14px;
  box-shadow: var(--box-shadow);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  font-size: 0.8rem;

  .button-container {
    position: relative;
    width: 100%;
    height: 2rem;

    .close-button {
      position: absolute;
      top: 0rem;
      right: 1rem;
      font-weight: bold;
      border: 2px solid var(--color-purple);
      color: var(--color-purple);
      padding: 5px 10px;
      border-radius: 10px;
      z-index: 2;
      cursor: pointer;
    }
  }

  .stats-modal {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem;
    max-height: 70vh;
    overflow-y: scroll;
    font-size: 0.9rem;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-purple);
      border-radius: 14px;
      border: 2px solid transparent;
    }

    img {
      width: 24px;
      height: 24px;
    }

    & > div {
      margin: 1.2rem 0;
      border-bottom: 1px solid var(--border-dark-gray);
      padding: 10px 0;

      div {
        font-weight: bold;
      }
    }
  }
  .exchange-modal {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    max-height: 70vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--background-dark);
      border-radius: 14px;
      border: 2px solid transparent;
    }
  }
  @media (max-width: 767px) {
    width: 80%;
  }
  @media (min-width: 1024px) {
    min-width: 600px;
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
