.modal {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 768px;
  color: var(--color-white);
  background-color: var(--background-modal-transparent);
  backdrop-filter: blur(40px) saturate(1.5);
  padding: 1.5rem 1rem;
  border-radius: 14px;
  box-shadow: var(--box-shadow);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  font-size: 0.8rem;
  min-width: 30rem;
  min-height: 15rem;

  .button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 1rem;

    .close-button {
      font-weight: bold;
      border: 2px solid var(--color-purple);
      color: var(--color-purple);
      padding: 5px 10px;
      border-radius: 7.5px;
      z-index: 2;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: var(--color-purple);
        color: #fff;
      }
    }
  }

  @media (max-width: 767px) {
    width: 80%;
    min-width: 13rem;
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
