.list-description {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.list {
  overflow-y: auto;

  .list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(158, 158, 158, 0.188);
    transition: 0.2s;

    &:hover {
      background-color: #171924;
      border-radius: 10px;
    }

    .name {
      font-size: 0.9rem;
      font-weight: bold;
      flex-basis: 70%;
      word-wrap: break-word;
    }
    .symbol {
      font-size: 0.9rem;
      word-wrap: break-word;
      flex-basis: 30%;
      text-align: right;
      color: #aaa;
    }
  }
}
