.spinnerbox {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem 0;
  // margin: 2rem 0;
}
.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--spinner-bgc);
  border-color: var(--spinner-bgc) transparent var(--spinner-bgc) transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
