.header {
  width: 100%;
  background-color: #1d1e25;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1024px;
    margin: 0 auto;
    height: 5rem;
  }
}
.logo {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1px;
}
.links-list {
  display: flex;
  gap: 0 1.5rem;

  li a {
    font-size: 1.1rem;
    font-weight: 500;

    &:hover {
      color: #ddd;
    }
  }
}

.active {
  color: rgb(193, 162, 222);
}
li a:hover.active {
  color: rgb(193, 162, 222);
}
