.market-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 2rem;
  max-height: 65vh;
  width: 62.5rem;
  margin: 0 auto;

  @media (max-width: 1023px) {
    width: 90%;
    max-height: 75vh;
  }
  .load-btn {
    margin: 2rem auto;
    padding: 10px 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #fff;
    transition: 0.2s;

    &:hover {
      background-color: #ddd;
      color: #000;
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: #3e4146;
  }
  &::-webkit-scrollbar-thumb {
    background: rgb(193, 162, 222);
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(75, 115, 171);
  }
}

.pages {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin: 3rem 0;

  .link,
  .home-page {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0.3rem 0.7rem;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
      border: 2px solid rgb(193, 162, 222);
    }
  }
  .link:hover,
  .home-page:hover {
    color: #aaa;
  }
  .active,
  .home-page:nth-of-type(1) {
    background-color: rgb(193, 162, 222);
    border-radius: 10px;
    color: #000;
    transition: 0.2s;

    &:hover {
      border: 2px solid rgb(193, 162, 222);
      background-color: transparent;
      color: #fff;
    }
  }
}
