.options {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0%;
  display: grid;
  grid-template-columns:
    2.5rem 2.2rem 7.5rem 3rem 7rem
    4.5rem 4.5rem 4.5rem 9rem
    9rem;
  grid-template-rows: 1fr;
  align-items: center;
  border-top: 1px solid rgb(34, 37, 49);
  border-bottom: 1px solid rgb(34, 37, 49);
  width: 60rem;
  margin: 0 auto;
  padding: 0.5rem 0px;
  color: #fff;
  gap: 0.7rem;
  font-size: 0.9rem;
  background-color: #17171a;
  min-height: 3rem;
  max-height: 3rem;
  z-index: 2;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .rank {
    display: flex;
    gap: 0.5rem;
  }
  .name {
    position: sticky;
    top: 0;
    left: 0;
    padding-left: 0.3rem;
    background-color: #17171a;
  }
  svg {
    color: rgb(222, 195, 246);
  }

  .option-btn {
    color: rgb(193, 162, 222);
    text-align: left;
    padding: 0.5rem 0;
  }
}
