.container {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  max-width: 1024px;
  margin: 3.5rem auto;
  color: #fff;

  @media (max-width: 767px) {
    justify-content: center;
    flex-wrap: wrap;
  }
}
