@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&family=Mochiy+Pop+One&display=swap");

.container {
  width: 100%;
  min-height: calc(100vh - 5rem);
  background-color: var(--background-dark-blue);

  .chart-box {
    width: 90%;
    margin: 0 auto;

    .chart-info {
      margin-top: 2rem;
      font-size: 0.7rem;
      text-align: center;
      color: var(--color-white);
      padding-bottom: 2rem;

      a {
        display: block;
        color: var(--color-oceanic);
      }
    }
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
