.coin {
  display: grid;
  grid-template-columns:
    minmax(20px, 0.2fr) minmax(20px, 0.2fr) minmax(9rem, 1fr) minmax(
      5rem,
      0.6fr
    )
    minmax(70px, 0.6fr) minmax(70px, 0.6fr) minmax(70px, 0.6fr) 1.2fr 1fr;
  grid-template-rows: 1fr;
  height: 5rem;
  align-items: center;
  max-width: 1024px;
  color: #fff;
  margin: 0 auto;
  padding: 0 8px;
  border-top: 1px solid rgb(34, 37, 49);
  border-bottom: 1px solid rgb(34, 37, 49);
  gap: 0 1rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  transition: 0.2s;

  @media (max-width: 1023px) {
    grid-template-columns:
      minmax(20px, 0.2fr) minmax(20px, 0.1fr) minmax(9.4rem, 10rem) minmax(
        5rem,
        0.6fr
      )
      minmax(70px, 0.6fr) minmax(70px, 0.6fr) minmax(70px, 0.6fr);
    width: 80%;
  }
  @media (max-width: 767px) {
    grid-template-columns:
      minmax(1.5rem, 2rem) minmax(20px, 0.1fr) minmax(9.4rem, 10rem) minmax(
        5rem,
        0.3fr
      )
      minmax(70px, 0.3fr);
    justify-content: space-between;
  }
  .name {
    display: grid;
    grid-template-columns: 0.2fr 0.7fr 2.3rem;
    align-items: center;
    justify-content: space-around;

    p {
      font-weight: bold;
    }
    img {
      width: 1.3rem;
      height: 1.3rem;
      margin-right: 0.2rem;
    }
    span {
      color: #ddd;
    }
  }
  .time.incr {
    color: green;
  }
  .time.decr {
    color: red;
  }
  &:hover {
    background-color: #171924;
  }
  .star {
    border: none;
    background: none;
    cursor: pointer;
  }
}
