.notification {
  width: 200px;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 10%;
  align-items: center;
  color: white;
  border-radius: 15px;
  margin: 0 auto;
}

.notification h2,
.notification p {
  font-size: 1.3rem;
  margin: 1rem 0;
}
