.container {
  display: flex;
  flex-direction: column;
  color: var(--color-white);
  flex-basis: 45%;
  max-width: 32.5rem;
  max-height: 32rem;
  width: 80%;
  border-radius: 15px;
  margin: 1rem 0;
  padding: 5px 10px;
  background-color: var(--background-light-blue);
  animation: show-slowly 300ms linear;

  .title {
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-purple);
    font-weight: bold;
    margin-top: 1rem;
  }

  &:nth-of-type(3) {
    flex-basis: 100%;
    max-width: 100%;
    max-height: calc(45vh);
    margin: 1rem 0 0 0;

    @media (max-width: 767px) {
      max-height: calc(60vh - 2rem);
      max-width: 32.5rem;
    }
  }

  @media (max-width: 767px) {
    max-height: calc(60vh - 2rem);
  }
}

@keyframes show-slowly {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
