.statistic {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 2rem auto;
  padding: 0 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}
.title {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: var(--color-white);
  font-weight: bold;

  span {
    letter-spacing: 1px;
    color: var(--color-purple);
    font-size: 0.9rem;
    font-family: sans-serif;
  }
  a {
    color: var(--color-text-green);
  }
}
