.statistic {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto 2rem auto;

  @media (max-width: 1023px) {
    flex-direction: column;
    align-items: center;
  }
}
.title {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;

  span {
    letter-spacing: 1px;
    color: rgb(193, 162, 222);
    font-size: 0.9rem;
    font-family: sans-serif;
  }
  a {
    color: #8bc53f;
  }
}
