.options {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0%;
  display: grid;
  grid-template-columns:
    2.5rem 2.2rem 7.5rem 3rem 7rem
    4.5rem 4.5rem 4.5rem 9rem
    9rem;
  grid-template-rows: 1fr;
  align-items: center;
  border-top: 1px solid rgb(34, 37, 49);
  border-bottom: 1px solid rgb(34, 37, 49);
  width: 60rem;

  margin: 0 auto;
  padding: 0.5rem 0px;
  color: #fff;
  gap: 0.7rem;
  font-size: 0.9rem;
  background-color: #17171a;
  min-height: 3rem;
  max-height: 3rem;
  z-index: 2;

  div {
    display: grid;
    grid-template-columns: 1fr 1rem;
    gap: 0px 0px;
    align-items: center;
  }

  .rank {
    grid-template-columns: 1rem 1.2rem;
  }
  .name {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #17171a;
    grid-template-columns: 3rem 1rem;
  }
  .price {
    grid-template-columns: 2.5rem 1rem;
  }
  .time {
    grid-template-columns: 2.5rem 1rem;
  }
  .market-cap,
  .volume {
    grid-template-columns: 6.3rem 1rem;
  }
  svg {
    color: rgb(222, 195, 246);
  }

  .option-btn {
    color: rgb(193, 162, 222);
    text-align: left;
    padding: 0.5rem 0;
  }
}
