.curr-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;

  .curr-list {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    .coin-wrapper {
      display: flex;
      font-weight: bold;
      gap: 0.4rem;
      align-items: center;
      cursor: pointer;

      .rank {
        color: #858ca2;
      }
      .name {
        &.word-wrap {
          word-wrap: break-word;
        }
        &.word-break {
          word-break: break-all;
        }
      }
      .alias {
        word-break: break-all;
        font-size: 0.7rem;
        min-width: 3rem;
      }
    }
  }
  .percentage {
    color: #fff;
    margin-left: 1rem;
  }
  .percentage.incr {
    color: #8dc647;
  }
  .percentage.decr {
    color: #e15241;
  }
}
