.curr-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.8rem 0;

  .curr-list {
    display: flex;
    gap: 0.8rem;
    align-items: center;

    .rank {
      color: var(--color-strong-gray);
    }
    .coin-wrapper {
      display: flex;
      font-weight: bold;
      gap: 0.4rem;
      align-items: center;
      cursor: pointer;

      .name {
        &.word-wrap {
          word-wrap: break-word;
        }
        &.word-break {
          word-break: break-all;
        }

        .alias {
          font-size: 0.7rem;
        }
      }
    }
  }
  .percentage {
    color: var(--color-white);
    margin-left: 1rem;
  }
  .percentage.incr {
    color: var(--color-price-green);
  }
  .percentage.decr {
    color: var(--color-price-red);
  }
}
