.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 20rem;
  max-width: 1024px;
  background-color: var(--background-dark-gray);
  border-radius: 15px;
  margin: 3rem auto;
  word-wrap: break-word;
  animation: show-slowly 300ms linear;

  .box {
    display: flex;
    width: 70%;
    margin: 1rem auto;
    max-height: 4rem;

    .input-search {
      border: none;
      background-color: var(--background-dark-gray);
      border: 1px solid var(--color-white);
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      caret-color: var(--color-white);
      padding: 15px 20px;
      outline: none;
      width: 85%;
      color: var(--color-white);

      &::placeholder {
        text-align: center;
        font-style: italic;
        color: var(--color-white);
      }
    }
    button {
      border: 1px solid var(--color-white);
      flex-basis: 15%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    border-radius: 10px;
    width: 70%;
    margin: 0.5rem auto;
    color: var(--color-white);
    .amount {
      color: var(--color-special);
    }
  }

  .description,
  .error {
    text-align: center;
    font-size: 0.8rem;
    color: var(--color-white);
    margin: 0 0.5rem;
    padding: 0.5rem 0;
  }
  .error {
    color: var(--color-red);
    font-weight: bold;
  }
}

@keyframes show-slowly {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
