.overlay {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: auto;
  max-width: 768px;
  border-radius: 4px;
  background-color: var(--background-light-gray);
  z-index: 30;
  animation: slide-down 150ms ease forwards;
  font-size: 0.8rem;
  min-width: 30rem;
  min-height: 15rem;
  transform: scale(0.5);
  box-shadow: var(--box-shadow-dark);
  color: var(--color-light-gray);

  @media (max-width: 767px) {
    width: 80%;
    min-width: 13rem;
  }
}
@keyframes slide-down {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
