@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;600&family=Mochiy+Pop+One&display=swap");
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.55);
}

.modal {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 768px;
  max-height: 80vh;
  background: #373b44;
  background: linear-gradient(to right, #323742, #3f4246);
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(29, 29, 29, 0.75);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  color: white;

  @media (max-width: 767px) {
    overflow-y: scroll;
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    .box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 1rem 0 1.5rem 0;

      @media (max-width: 767px) {
        flex-direction: column;
        gap: 1rem;
      }
    }
    .data,
    .second-data {
      display: flex;
      align-items: center;
      gap: 0 0.7rem;
    }
    img {
      width: 24px;
      height: 24px;
    }
    .time.decr,
    .time.incr {
      padding: 5px 10px;
      font-size: 0.8rem;
      border-radius: 10px;
      color: rgb(255, 255, 255);
      margin: 0 0.5rem;
      border: none;
    }
    .time.incr {
      background-color: #008000;
    }
    .time.decr {
      background-color: #ea3943;
    }
    .price {
      position: relative;
      border: 1px solid #fff;
      padding: 1px 7px;
      border-radius: 5px;
    }
    .rank {
      border-bottom: 2px solid gold;
    }
    .price::before {
      position: absolute;
      top: -0.75rem;
      left: 0;
      content: "Price";
      font-size: 0.6rem;
      letter-spacing: 1px;
      font-family: sans-serif;
    }

    .other-box {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      p {
        border-top: 1px solid rgb(34, 37, 49);
        border-bottom: 1px solid rgb(34, 37, 49);
        padding: 10px 0;
      }
    }
    span,
    .price,
    .time {
      font-size: 1rem;
      font-family: sans-serif;
      font-weight: bold;
      color: #fff;
      border: 1px solid #ddd;
      padding: 3px 7px;
      border-radius: 5px;
    }
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
