.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  transition: 0.2s;
  cursor: pointer;
  border-bottom: 1px solid var(--border-dark-gray);

  &:hover {
    background-color: var(--background-hover);
    border-radius: 10px;
    border-bottom: 1px solid transparent;
  }
  .index {
    font-weight: bold;
  }
  .value {
    flex-basis: 50%;
    text-align: right;
    font-size: 0.9rem;
    color: var(--color-purple);
    font-weight: bold;
    span {
      font-size: 0.9rem;
      // font-weight: bold;
    }
  }
  .name-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
