.coin {
  position: relative;
  display: grid;
  grid-template-columns:
    2.5rem minmax(20px, 0.2fr) minmax(11rem, 1fr) minmax(5rem, 0.6fr)
    4.5rem 4.5rem 4.5rem 8.1rem
    1fr;
  grid-template-rows: 1fr;
  height: 5rem;
  align-items: center;
  max-width: 1024px;
  color: #fff;
  margin: 0 auto;
  padding: 0 8px;
  border-top: 1px solid rgb(34, 37, 49);
  border-bottom: 1px solid rgb(34, 37, 49);
  gap: 0 1rem;
  font-family: Inter, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 14px;
  transition: 0.2s;

  @media (max-width: 1023px) {
    grid-template-columns:
      2.5rem minmax(20px, 0.1fr) minmax(9.4rem, 10rem) minmax(5rem, 0.6fr)
      minmax(70px, 0.6fr) minmax(70px, 0.6fr) minmax(70px, 0.6fr);
    width: 80%;
  }
  @media (max-width: 767px) {
    grid-template-columns:
      2rem minmax(20px, 0.1fr) minmax(9.4rem, 10rem) minmax(5rem, 0.3fr)
      minmax(70px, 0.3fr);
    justify-content: space-between;
  }
  @media (max-width: 450px) {
    grid-template-columns:
      1.7rem 2.2rem 6rem 4rem
      3.5rem;
    gap: 0;
    width: 90%;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1;
    width: 100%;
    height: 5rem;
    cursor: pointer;
  }

  .name {
    display: grid;
    grid-template-columns: 1.6rem 5rem 3.5rem;
    align-items: center;
    justify-content: space-around;

    @media (max-width: 767px) {
      grid-template-columns: 0.2fr 0.7fr;
    }
    .title {
      font-weight: bold;
      font-size: 0.8rem;
      color: #fff;
      text-align: left;
      word-wrap: break-word;
    }
    img {
      width: 1.3rem;
      height: 1.3rem;
      margin-right: 0.5rem;
    }
    span {
      word-wrap: break-word;
      color: #ddd;
    }
  }
  .time {
    display: flex;
    align-items: center;
  }
  .time.incr {
    color: #8dc647;
  }
  .time.decr {
    color: #e15241;
  }
  &:hover {
    background-color: #171924;
  }
  .rank {
    grid-template-columns: 2.2rem;
  }
  .star {
    border: none;
    background: none;
    cursor: pointer;
    z-index: 2;
    padding: 0.5rem 0;

    &:hover svg {
      color: rgb(193, 162, 222) !important;
    }
  }
}
