.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 300px;
  background-color: #323546;
  border-radius: 15px;
  margin: 5rem auto;

  .inputs-box {
    display: flex;
    width: 100%;

    .convert-type {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-basis: 30%;
    }
  }
  .result {
    margin-top: 3rem;
    color: white;
    border: 2px solid rgb(193, 162, 222);
    border-radius: 10px;
    padding: 10px 15px;

    .result-number {
      color: rgb(193, 162, 222);
    }
  }
}
