.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  width: 20%;

  &:nth-of-type(1) {
    width: 40%;
  }
  @media (max-width: 767px) {
    width: 75% !important;
  }
  .selects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    color: var(--color-white);
    width: 100%;

    label {
      margin: 0.2rem 0;
      font-weight: bold;
    }
    select,
    input {
      box-sizing: border-box;
      height: 3rem;
      background-color: var(--background-dark-blue);
      border-radius: 10px;
      padding: 15px 10px;
      color: var(--color-white);
      text-align: center;
      border: 1px solid var(--color-white);
      appearance: none;
      cursor: pointer;
      outline: none;
      font-size: 0.8rem;
      width: 100%;
    }

    input {
      text-align: right;

      &:disabled {
        cursor: no-drop;
      }
      &:hover {
        appearance: none;
      }
    }
    .amount {
      width: 70%;
      padding: 0 1rem;
      font-size: 1rem;

      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.option {
  color: var(--color-purple);
}
