.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 35%;
  max-width: 100%;
}

.selects {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  max-width: 100%;

  select,
  input {
    max-width: 180px;
    background-color: rgb(23, 25, 36);
    border-radius: 15px;
    padding: 15px 10px;
    color: white;
    text-align: center;
    border: 2px solid white;
    appearance: none;
    cursor: pointer;
    outline: none;
  }

  input {
    max-width: 2rem;

    max-height: 1rem;
    &:disabled {
      cursor: no-drop;
    }
  }

  .select-box {
    display: flex;
    flex-direction: column;
    max-width: 60%;
  }
  .price {
    color: white;
    text-align: center;
    margin: 0.5rem 0;
  }
}
option {
  color: rgb(193, 162, 222);
}
