.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 1024px;
  background-color: var(--background-light-blue);
  border-radius: 15px;
  margin: 5rem auto;

  .inputs-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 1.5rem;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    .convert-type {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15%;

      button {
        margin-top: 20%;
      }
    }
  }
  .result,
  .title {
    margin: 3rem 0;
    color: var(--color-white);
    border: 2px solid var(--color-purple);
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
  }
  .result-number {
    color: var(--color-purple);
    margin: 0.5rem 0;
  }
  .result-warning {
    font-size: 0.8rem;
    color: var(--color-gray);
  }
  .title {
    margin: 2rem 0 1rem 0;
    border: none;
    .sub-title {
      color: var(--color-purple);
    }
  }
}
