.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 35%;
}
.pricebox {
  height: 2rem;
  align-self: flex-end;
}
.price {
  color: white;
  width: 180px;
  text-align: center;
}

.selects {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;

  select,
  input {
    width: 180px;
    background-color: #323546;
    border-radius: 15px;
    padding: 15px 10px;
    color: white;
    text-align: center;
    border: 2px solid white;
    appearance: none;
    cursor: pointer;
    outline: none;
  }

  input {
    width: 2.5rem;
    &:disabled {
      cursor: no-drop;
    }
  }
}
option {
  color: rgb(193, 162, 222);
}
