.title {
  padding: 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;

  span {
    letter-spacing: 1px;
    color: rgb(193, 162, 222);
    font-size: 0.9rem;
    font-family: sans-serif;
  }
  a {
    color: #8bc53f;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 2rem;
  color: #fff;
}
.news-box {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 1024px;
  gap: 2rem;
  padding: 1rem;
  border: 2px solid rgb(193, 162, 222);
  border-radius: 10px;

  .head {
    display: flex;
    flex-direction: column;
    text-align: center;

    .time {
      text-align: right;
      margin: 0.5rem 0;
      font-weight: bold;
    }
    .title {
      padding: 0.5rem 0;
      color: rgb(193, 162, 222);
    }
  }
  a {
    color: #8bc53f;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
  }
  .footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

    .info {
      font-size: 0.9rem;
      letter-spacing: 1px;
      .author {
        font-weight: bold;
        color: rgb(79, 125, 132);
      }
      .keywords {
        font-weight: bold;
        font-style: italic;
        color: rgb(79, 125, 132);
      }
    }
  }
  .btn {
    border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    width: 10rem;
    padding: 10px 1rem;
    margin: 0 auto;
    border-radius: 10px;
    transition: 0.2s;
    text-decoration: none;

    &:hover {
      background-color: rgb(81, 76, 187);
    }
  }
}
