body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17171a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.center-item {
  margin: 5rem auto 3rem auto;
  text-align: center;
  color: rgb(193, 162, 222);
}
#chart {
  margin: 1rem auto;
  max-width: 100%;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-weight: bold;
  border: 1px solid rgb(193, 162, 222);
  color: rgb(193, 162, 222);
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 2;
  cursor: pointer;
}

#currency-detail {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  z-index: -2;

  &.show {
    z-index: 2;
  }
}
