.list-description {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
