.market-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 65vh;
  width: 62.5rem;
  margin: 2rem auto 0 auto;
  animation: show-slowly 300ms linear;

  @media (max-width: 1023px) {
    width: 90%;
    max-height: 75vh;
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: var(--background-gray);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-purple);
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--background-blue);
  }
}

@keyframes show-slowly {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
