.market-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding-bottom: 2rem;
  max-height: 65vh;
  width: 62.5rem;
  margin: 0 auto;
  animation: show-slowly 300ms linear;

  @media (max-width: 1023px) {
    width: 90%;
    max-height: 75vh;
  }
  .load-btn {
    margin: 2rem auto;
    padding: 10px 15px;
    font-weight: bold;
    color: var(--color-white);
    border-radius: 10px;
    border: 1px solid var(--color-white);
    transition: 0.2s;

    &:hover {
      background-color: var(--color-gray);
      color: var(--color-black);
    }
  }

  &::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background: var(--background-gray);
  }
  &::-webkit-scrollbar-thumb {
    background: var(--color-purple);
    border-radius: 6px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--background-blue);
  }
}

.pages {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  margin: 3rem 0;

  .link,
  .home-page {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0.3rem 0.7rem;
    font-weight: bold;
    transition: 0.2s;

    &:hover {
      border: 2px solid var(--color-purple);
    }
  }
  .link:hover,
  .home-page:hover {
    color: var(--color-strong-gray);
  }
  .active,
  .home-page:nth-of-type(1) {
    background-color: var(--color-purple);
    border-radius: 10px;
    color: var(--color-black);
    transition: 0.2s;

    &:hover {
      border: 2px solid var(--color-purple);
      background-color: transparent;
      color: var(--color-white);
    }
  }
}

@keyframes show-slowly {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.pagination {
  margin-top: 1.5rem;
  justify-content: center;

  button {
    background-color: #222642;
    border: none;
    color: var(--color-white);
  }
}
