.box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-basis: 32%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 12px;
  background-color: var(--background-gray);
  border: 2px solid var(--color-special);

  @media (max-width: 1023px) {
    width: 100%;
    margin: 0 auto;
  }

  .titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0 0.7rem 0;

    .more-button {
      background-color: var(--background-special);
      color: var(--color-white);
      padding: 0.3rem 0.8rem;
      border-radius: 6px;
      text-transform: uppercase;
      font-weight: bold;
      transition: 0.3s;
      &:hover {
        background-color: var(--background-gray);
      }
      &:disabled {
        cursor: no-drop;
      }
    }
    .title-box {
      display: flex;
      gap: 0 0.2rem;
    }
  }
  .empty {
    margin: 2rem auto;
    color: var(--color-oceanic);
  }
}
