@import "./variables.scss";

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #17171a;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
.center-item {
  margin: 3rem auto 3rem auto;
  text-align: center;
  color: #fff;
  font-weight: bold;

  span {
    color: rgb(193, 162, 222);
  }
  a {
    color: #8bc53f;
  }

  &.xl {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
#chart {
  margin: 1rem auto;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

#stats-modal,
#exchange-modal,
#companies-modal,
#nft-modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0;
  z-index: -2;

  &.show {
    z-index: 12;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #3e4146;
}
::-webkit-scrollbar-thumb {
  background: rgb(193, 162, 222);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(75, 115, 171);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  margin: 2rem 0;
}
