:root {
  --color-white: #fff;
  --color-gray: #ddd;
  --color-strong-gray: #aaa;
  --color-price-green: #8dc647;
  --color-price-red: #e15241;
  --color-text-green: #8bc53f;
  --color-purple: rgb(193, 162, 222);
  --color-oceanic: rgb(75, 185, 167);
  --background-gray: #323546;
  --background-strong-gray: #1d1e25;
  --background-dark: #17171a;
  --background-hover: #171924;
}
