:root {
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #ddd;
  --color-white-opacity: #fdfdfd6a;
  --color-strong-gray: #aaa;
  --color-price-green: #8dc647;
  --color-green: #008000;
  --color-price-red: #e15241;
  --color-special: rgba(223, 113, 12, 1);
  --background-special: #df710c;
  //background
  --background-main: #0c0b0b;
  --background-gray: #1b1a1a;
  --background-dark-gray: #161616;
  --background-modal-transparent: rgba(32, 43, 57, 0.5);
  --background-details-box: #202a4d;
  --background-nav: linear-gradient(
    90deg,
    rgba(97, 55, 16, 0.1) -0.75%,
    rgba(148, 77, 12, 0.145) 53.82%,
    rgba(97, 55, 16, 0.1) 100%
  );
  --input-bgc: #232532;
  --special-hover: rgba(85, 66, 0, 0.29);
  --box-shadow: rgba(165, 103, 42, 0.38) 0px 5px 15px;
}
