.box {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  padding: 1rem;
  border-radius: 5px;
  font-size: 12px;
  background-color: #323546;

  @media (max-width: 1023px) {
    width: 50%;
    margin: 0 auto;
  }

  @media (max-width: 767px) {
    width: 80%;
    margin: 0 auto;
  }

  img {
    max-width: 1rem;
    max-height: 1rem;
  }
  .titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.2rem 0 0.7rem 0;

    button {
      color: rgb(75, 185, 167);
    }
    .title-box {
      display: flex;
      gap: 0 0.2rem;
    }
  }
  .empty {
    margin: 2rem auto;
    color: rgb(75, 185, 167);
  }
}
