.footer {
  text-align: center;
  margin: 2rem 0 2rem 0;
  margin-top: auto;

  a {
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 15px;
    margin: 2rem 0.5rem;
    border-radius: 10px;
  }
}
