.input-box {
  position: relative;
  width: 100%;

  .input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #232532;
    color: #fff;
    caret-color: #fff;
    text-indent: 1.2rem;

    &::placeholder {
      display: inline-block;
      font-size: 0.9rem;
      letter-spacing: 1px;
      color: #ddd;
      margin-left: 1rem;
    }
  }
  .cross {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .search {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }
}
