.notification {
  width: 40%;
  height: 3rem;
  display: flex;
  justify-content: center;
  padding: 0.5rem 10%;
  align-items: center;
  color: var(--color-white);
  border-radius: 15px;
  margin: 0 auto;
  text-align: center;
}

.notification h2,
.notification p {
  font-size: 1.3rem;
  margin: 1rem 0;
  text-align: center;
}
